<section class="{{type}}">
  <h3 data-anchor="{{field.name}}">
    <span class="{{type}}-name">{{field.name}}</span>
    {{#if field.params}}
      <span class="args">
        ({{join ", " (map-by "name" field.params)}})
      </span>
    {{/if}}
    {{#if field.return}}
      <span class="return-type">{{field.return.type}}</span>
    {{/if}}
    {{#if field.access}}
      <span class="access">{{field.access}}</span>
    {{/if}}
    {{#if field.deprecated}}
      <span class="access">deprecated</span>
    {{/if}}
  </h3>
  <dl class="parameters">
    {{#each field.params as |param|}}
      <div class="parameter">
        <dt>{{param.name}}</dt>
        <dd>{{param.type}}</dd>
        <dd>{{param.description}}</dd>
      </div>
    {{/each}}
    {{#if field.return}}
      <div class="return">
        <dt>returns</dt>
        <dd>{{field.return.type}}</dd>
        <dd>{{field.return.description}}</dd>
      </div>
    {{/if}}
  </dl>
  {{{field.description}}}
</section>
