<ol class="toc-level-0">
  <li class="toc-level-0">
    <a {{action 'toggle' 'modules'}} href="#" data-test-toc-title="packages">Packages</a>
    <ol class="toc-level-1 modules selected">
      {{#each this.moduleIDs as |moduleID|}}

        {{#if (not-eq moduleID "@ember/object/computed")}}
          <li class="toc-level-1" data-test-module={{moduleID}}>
            <LinkTo @route="project-version.modules.module" @models={{array this.version moduleID}}>{{moduleID}}</LinkTo>
          </li>
        {{/if}}

      {{/each}}
    </ol>
  </li>

  {{#if this.isShowingNamespaces}}
    <li class="toc-level-0">
      <a {{action 'toggle' 'namespaces'}} href="#" data-test-toc-title="namespaces">Namespaces</a>
      <ol class="toc-level-1 namespaces selected">
        {{#each this.namespaceIDs as |namespaceID|}}
          <li class="toc-level-1" data-test-namespace={{namespaceID}}>
            <LinkTo @route="project-version.namespaces.namespace" @models={{array this.version namespaceID}}>{{namespaceID}}</LinkTo>
          </li>
        {{/each}}
      </ol>
    </li>
  {{/if}}

  <li class="toc-level-0">
    <a {{action 'toggle' 'classes'}} href="#" data-test-toc-title="classes">Classes</a>
    <ol class="toc-level-1 classes selected">
      {{#each this.classesIDs as |classID|}}
        <li class="toc-level-1" data-test-class={{classID}}>
          <LinkTo @route="project-version.classes.class" @models={{array this.version classID}}>{{classID}}</LinkTo>
        </li>
      {{/each}}
    </ol>
  </li>
</ol>
<label class="toc-private-toggle">
  <Input @type="checkbox" @checked={{this.showPrivateClasses}} class="private-deprecated-toggle" />
  Show Private / Deprecated
</label>
