<ol class="toc-level-0">
  <li class="toc-level-0">
    <a {{action (toggle "showModules" this)}} href="#">Packages</a>
    
    {{#animated-if showModules use=fade duration=200}}
      <ol class="toc-level-1">
        {{#each moduleIDs as |moduleID|}}
          {{#if (not-eq moduleID "@ember/object/computed")}}
            <li class="toc-level-1" data-test-module={{moduleID}}>
              {{#link-to 'project-version.modules.module' version moduleID}}
                {{moduleID}}
              {{/link-to}}
            </li>
          {{/if}}
        {{/each}}
      </ol>
    {{/animated-if}}
  </li>

  {{#if isShowingNamespaces}}
    <li class="toc-level-0">
      <a {{action (toggle "showNamespaces" this)}} href="#">Namespaces</a>
      
      {{#animated-if showNamespaces use=fade duration=200}}
        <ol class="toc-level-1">
          {{#each namespaceIDs as |namespaceID|}}
            <li class="toc-level-1" data-test-namespace={{namespaceID}}>
              {{#link-to 'project-version.namespaces.namespace' version namespaceID}}
                {{namespaceID}}
              {{/link-to}}
            </li>
          {{/each}}
        </ol>
      {{/animated-if}}
    </li>
  {{/if}}

  <li class="toc-level-0">
    <a {{action (toggle "showClasses" this)}} href="#">Classes</a>
    
    {{#animated-if showClasses use=fade duration=200}}
      <ol class="toc-level-1">
        {{#each classesIDs as |classID|}}
          <li class="toc-level-1" data-test-class={{classID}}>
            {{#link-to 'project-version.classes.class' version classID}}
              {{classID}}
            {{/link-to}}
          </li>
        {{/each}}
      </ol>
    {{/animated-if}}
  </li>
</ol>
<label class="toc-private-toggle">
  {{input type="checkbox" checked=showPrivateClasses class='private-deprecated-toggle'}}
  Show Private / Deprecated
</label>
