<ol class="toc-level-0">
  <li class="toc-level-0"><a {{action 'toggle' 'modules'}} href="#">Modules</a>
    <ol class="toc-level-1 modules" style="display: block">
      {{#each moduleIDs as |moduleID|}}
        <li class="toc-level-1">{{#link-to 'project-version.module' version moduleID}}{{moduleID}}{{/link-to}}</li>
      {{/each}}
    </ol>
  </li>
  <li class="toc-level-0"><a {{action 'toggle' 'namespaces'}} href="#">Namespaces</a>
    <ol class="toc-level-1 namespaces" style="display: block">
      {{#each namespaceIDs as |namespaceID|}}
        <li class="toc-level-1">{{#link-to 'project-version.class' version namespaceID}}{{namespaceID}}{{/link-to}}</li>
      {{/each}}
    </ol>
  </li>
  <li class="toc-level-0"><a {{action 'toggle' 'classes'}} href="#">Classes</a>
    <ol class="toc-level-1 classes" style="display: block">
      {{#each classesIDs as |classID|}}
        <li class="toc-level-1">{{#link-to 'project-version.class' version classID}}{{classID}}{{/link-to}}</li>
      {{/each}}
    </ol>
  </li>
  <label>
    {{input type="checkbox" checked=showPrivateClasses class='private-deprecated-toggle'}}
    Show Private / Deprecated
  </label>
</ol>
