<ol class="toc-level-0">
  <li class="toc-level-0">
    <a {{action 'toggle' 'modules'}} href="#">Packages</a>
    <ol class="toc-level-1 modules" style="display: block">
      {{#each moduleIDs as |moduleID|}}

        {{#if (not-eq moduleID "@ember/object/computed")}}
          <li class="toc-level-1" data-test-module={{moduleID}}>
            <LinkTo @route="project-version.modules.module" @models={{array version moduleID}}>{{moduleID}}</LinkTo>
          </li>
        {{/if}}

      {{/each}}
    </ol>
  </li>

  {{#if isShowingNamespaces}}
    <li class="toc-level-0">
      <a {{action 'toggle' 'namespaces'}} href="#">Namespaces</a>
      <ol class="toc-level-1 namespaces" style="display: block">
        {{#each namespaceIDs as |namespaceID|}}
          <li class="toc-level-1" data-test-namespace={{namespaceID}}>
            <LinkTo @route="project-version.namespaces.namespace" @models={{array version namespaceID}}>{{namespaceID}}</LinkTo>
          </li>
        {{/each}}
      </ol>
    </li>
  {{/if}}

  <li class="toc-level-0">
    <a {{action 'toggle' 'classes'}} href="#">Classes</a>
    <ol class="toc-level-1 classes" style="display: block">
      {{#each classesIDs as |classID|}}
        <li class="toc-level-1" data-test-class={{classID}}>
          <LinkTo @route="project-version.classes.class" @models={{array version classID}}>{{classID}}</LinkTo>
        </li>
      {{/each}}
    </ol>
  </li>
</ol>
<label class="toc-private-toggle">
  <Input @type="checkbox" @checked={{showPrivateClasses}} class="private-deprecated-toggle" />
  Show Private / Deprecated
</label>
