<article class="chapter">
  <h1>{{model.name}} {{#if model.access}}<span class="access">{{model.access}}</span>{{/if}}</h1>

  <p class="attributes">
    {{#if model.parent}}
      <div class="attribute">
        <span class="attribute-label">Parent:</span>
        <span class="attribute-value">{{#link-to 'project-version.modules.module' (url-param "project-version" "project_version") model.parent}}{{model.parent}}{{/link-to}}</span>
      </div>
    {{/if}}
  </p>

  <p>{{html-safe model.description}}</p>

  {{#if submodules}}
    <section>
      <h2>Submodules</h2>
      <ul class="spec-method-list">
        {{#each submodules as |module|}}
          <li>
            {{#link-to 'project-version.modules.module' module}}
              {{module}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </section>
  {{/if}}

  {{#if classesAndNamespaces}}
    <section>
      <h2>Classes and Namespaces</h2>
      <ul class="spec-property-list">
        {{#each classesAndNamespaces as |klass|}}
          <li>
            {{#link-to 'project-version.classes.class' klass}}
              {{klass}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </section>
  {{/if}}

  {{outlet}}

</article>
