<ul class='table-of-contents '>
  <li class='toc-item toc-group' data-test-toc-title="packages">
    Packages
    <ul class='sub-table-of-contents modules'>
      {{#each @moduleIDs as |moduleID|}}

        {{#if (not-eq moduleID '@ember/object/computed')}}
          <li class='toc-item toc-link' data-test-module={{moduleID}}>
            <LinkTo @route='project-version.modules.module' @models={{array @version moduleID}}>{{moduleID}}</LinkTo>
          </li>
        {{/if}}

      {{/each}}
    </ul>
  </li>

  {{#if @isShowingNamespaces}}
    <li class='table-of-contents' data-test-toc-title="namespaces">
      Namespaces
      <ul class='sub-table-of-contents namespaces'>
        {{#each @namespaceIDs as |namespaceID|}}
          <li class='toc-item toc-link' data-test-namespace={{namespaceID}}>
            <LinkTo @route='project-version.namespaces.namespace' @models={{array @version namespaceID}}>{{namespaceID}}</LinkTo>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/if}}

  <li class='table-of-contents' data-test-toc-title="classes">
    Classes
    <ul class='sub-table-of-contents classes'>
      {{#each @classesIDs as |classID|}}
        <li class='toc-item toc-link' data-test-class={{classID}}>
          <LinkTo @route='project-version.classes.class' @models={{array @version classID}}>{{classID}}</LinkTo>
        </li>
      {{/each}}
    </ul>
  </li>
</ul>
<label class='toc-private-toggle'>
  <input type='checkbox' checked={{@showPrivateClasses}} onchange={{@togglePrivateClasses}} class='private-deprecated-toggle' />
  Show Private / Deprecated
</label>