<ol class="toc-level-0">
  <li class="toc-level-0">
    <a href="#" {{on "click" (prevent-default (fn this.toggle "showModules"))}}>
      Packages
    </a>

    {{#animated-if this.showModules}}
      <ol class="toc-level-1">
        {{#each @moduleIDs as |moduleID|}}
          {{#if (not-eq moduleID '@ember/object/computed')}}
            <li class="toc-level-1" data-test-module={{moduleID}}>
              <LinkTo @route="project-version.modules.module" @models={{array @version moduleID}}>
                {{moduleID}}
              </LinkTo>
            </li>
          {{/if}}
        {{/each}}
      </ol>
    {{/animated-if}}
  </li>

  {{#if @isShowingNamespaces}}
    <li class="toc-level-0">
      <a href="#" {{on "click" (prevent-default (fn this.toggle "showNamespaces"))}}>
        Namespaces
      </a>

      {{#animated-if this.showNamespaces}}
        <ol class="toc-level-1">
          {{#each @namespaceIDs as |namespaceID|}}
            <li class="toc-level-1" data-test-namespace={{namespaceID}}>
              <LinkTo
                @route="project-version.namespaces.namespace"
                @models={{array @version namespaceID}}
              >
                {{namespaceID}}
              </LinkTo>
            </li>
          {{/each}}
        </ol>
      {{/animated-if}}
    </li>
  {{/if}}

  <li class="toc-level-0">
    <a href="#" {{on "click" (prevent-default (fn this.toggle "showClasses"))}}>
      Classes
    </a>

    {{#animated-if this.showClasses}}
      <ol class="toc-level-1">
        {{#each @classesIDs as |classID|}}
          <li class="toc-level-1" data-test-class={{classID}}>
            <LinkTo @route="project-version.classes.class" @models={{array @version classID}}>
              {{classID}}
            </LinkTo>
          </li>
        {{/each}}
      </ol>
    {{/animated-if}}
  </li>
</ol>
<label class="toc-private-toggle">
  <Input @type="checkbox" @checked={{@showPrivateClasses}} class="private-deprecated-toggle" />
  Show Private / Deprecated
</label>
