<div class="algolia-docsearch-suggestion
  {{unless this.isSecondary 'algolia-docsearch-suggestion__secondary'}}">
  <div class="algolia-docsearch-suggestion--wrapper">
    <div class="algolia-docsearch-suggestion--subcategory-column">
      <span class="algolia-docsearch-suggestion--subcategory-column-text">{{this._primaryColumn}}</span>
    </div>
    <div class="algolia-docsearch-suggestion--content">
      {{#if this.result.static}}
        <LinkTo @route="project-version.functions.function" @models={{array this.module this.version this.result.class this.result.name}}>
          <div class="algolia-docsearch-suggestion--subcategory-inline">
            {{!-- Sometimes hierarchy lvl1 is null, fall-back to lvl0 --}}
            {{#if this.result._highlightResult.hierarchy.lvl1}}
              {{html-safe this.result._highlightResult.hierarchy.lvl1.value}}
            {{else}}
              {{html-safe this.result._highlightResult.hierarchy.lvl0.value}}
            {{/if}}
          </div>
          <div class="algolia-docsearch-suggestion--title">
            {{html-safe this.result._highlightResult.hierarchy.lvl2.value}}
            {{#if this.result._highlightResult.hierarchy.lvl3}}
              <span class="aa-suggestion-title-separator" aria-hidden="true"> › </span>
              {{html-safe this.result._highlightResult.hierarchy.lvl3.value}}
            {{/if}}
            {{#if this.result._highlightResult.hierarchy.lvl4}}
              <span class="aa-suggestion-title-separator" aria-hidden="true"> › </span>
              {{html-safe this.result._highlightResult.hierarchy.lvl4.value}}
            {{/if}}
          </div>
        </LinkTo>
      {{else}}
        <LinkTo @route="project-version.classes.class.methods.method" @models={{array this.module this.version}} @query={{hash anchor=this.result.name}}>
          <div class="algolia-docsearch-suggestion--subcategory-inline">
            {{!-- Sometimes hierarchy lvl1 is null, fall-back to lvl0 --}}
            {{#if this.result._highlightResult.hierarchy.lvl1}}
              {{html-safe this.result._highlightResult.hierarchy.lvl1.value}}
            {{else}}
              {{html-safe this.result._highlightResult.hierarchy.lvl0.value}}
            {{/if}}
          </div>
          <div class="algolia-docsearch-suggestion--title">
            {{html-safe this.result._highlightResult.hierarchy.lvl2.value}}
            {{#if this.result._highlightResult.hierarchy.lvl3}}
              <span class="aa-suggestion-title-separator" aria-hidden="true"> › </span>
              {{html-safe this.result._highlightResult.hierarchy.lvl3.value}}
            {{/if}}
            {{#if this.result._highlightResult.hierarchy.lvl4}}
              <span class="aa-suggestion-title-separator" aria-hidden="true"> › </span>
              {{html-safe this.result._highlightResult.hierarchy.lvl4.value}}
            {{/if}}
          </div>
        </LinkTo>
      {{/if}}
    </div>
  </div>
</div>

{{yield}}
