<div class="algolia-docsearch-suggestion
  {{if isSecondary 'algolia-docsearch-suggestion__secondary'}}">
  <div class="algolia-docsearch-suggestion--wrapper">
    <div class="algolia-docsearch-suggestion--subcategory-column">
      <span class="algolia-docsearch-suggestion--subcategory-column-text">{{_primaryColumn}}</span>
    </div>
    <div class="algolia-docsearch-suggestion--content">
      <a href={{result.url}}>
        <div class="algolia-docsearch-suggestion--subcategory-inline">
          {{!-- Sometimes hierarchy lvl1 is null, fall-back to lvl0 --}}
          {{#if result._highlightResult.hierarchy.lvl1}}
            {{{result._highlightResult.hierarchy.lvl1.value}}}
          {{else}}
            {{{result._highlightResult.hierarchy.lvl0.value}}}
          {{/if}}
        </div>
        <div class="algolia-docsearch-suggestion--title">
          {{{result._highlightResult.hierarchy.lvl2.value}}}
          {{!-- <span class="algolia-docsearch-suggestion--highlight">Em</span>ber Namespace --}}
        </div>
      </a>
    </div>
  </div>
</div>

{{yield}}
