<article class="chapter">
  <h1>{{model.name}}</h1>

  <p>{{{model.description}}}</p>
  <section>
    <h2>Methods</h2>

    <ul>
      {{#each model.methods as |method|}}
        <li>
          {{method.name}}
        </li>
      {{/each}}
    </ul>
  </section>

  {{#each model.methods as |method|}}
    <section class="method">
      <h3>
        <span class="method-name">{{method.name}}</span>
        {{#if method.params}}
          <span class="args">
            ({{join ", " (map-by "name" method.params)}})
          </span>
        {{/if}}
      </h3>
      <dl class="parameters">
        {{#each method.params as |param|}}
          <div class="parameter">
            <dt>{{param.name}}</dt>
            <dd>{{param.type}}</dd>
            <dd>{{param.description}}</dd>
          </div>
        {{/each}}
      </dl>
      {{{method.description}}}
    </section>
  {{/each}}

</article>
