<article class="chapter">
  <h1>{{model.name}} {{#if model.access}}<span class="access">{{model.access}}</span>{{/if}}</h1>

  <p class="attributes">
    {{#if model.extends}}
      <div class="attribute">
        <span class="attribute-label">Extends:</span>
        <span class="attribute-value">{{#link-to 'project-version.class' model.projectVersion.version model.extends}}{{model.extends}}{{/link-to}}</span>
      </div>
    {{/if}}
    {{#if model.uses}}
      <div class="attribute">
        <span class="attribute-label">Uses:</span>
        <span class="attribute-value">
          {{#each model.uses as |parentClass idx|}}
            {{#unless (eq idx 0)}}<span class="comma">,</span>{{/unless}}
            {{#link-to 'project-version.class' model.projectVersion.version parentClass}}{{parentClass}}{{/link-to}}
          {{/each}}
        </span>
      </div>
    {{/if}}
    {{#if model.file}}
      <div class="attribute">
        <span class="attribute-label">Defined in:</span>
        <span class="attribute-value">
          <a href={{githubLinkTarget}}>{{model.file}}:{{model.line}}</a>
        </span>
      </div>
    {{/if}}
    {{#if model.module}}
      <div class="attribute">
        <span class="attribute-label">Module:</span>
        <span class="attribute-value">{{#link-to 'project-version.module' model.projectVersion.version model.module}}{{model.module}}{{/link-to}}</span>
      </div>
    {{/if}}
  </p>

  <p>{{{model.description}}}</p>

  <section>
    Show:
    <label class="access-checkbox">
      {{input type="checkbox" checked=showInherited}}
      Inherited
    </label>
    <label class="access-checkbox">
      {{input type="checkbox" checked=showProtected}}
      Protected
    </label>
    <label class="access-checkbox">
      {{input type="checkbox" checked=showPrivate}}
      Private
    </label>
    <label class="access-checkbox">
      {{input type="checkbox" checked=showDeprecated}}
      Deprecated
    </label>
  </section>


  <section>
    <h2>Methods</h2>

    {{#if model.methods}}
      <ul class="spec-method-list">
        {{#each filteredMethods as |method|}}
          <li>
            {{#link-to (concat parentName '.methods.method') model.project.id model.projectVersion.version model.name method.name (query-params anchor=method.name)}}
              {{method.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      No documented methods.
    {{/if}}
  </section>

  <section>
    <h2>Properties</h2>
    {{#if model.properties}}
      <ul class="spec-property-list">
        {{#each filteredProperties as |property|}}
          <li>
            {{#link-to (concat parentName '.properties.property') model.project.id model.projectVersion.version model.name property.name (query-params anchor=property.name)}}
              {{property.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      No documented properties.
    {{/if}}
  </section>

  <section>
    <h2>Events</h2>
    {{#if model.events}}
      <ul class="spec-event-list">
        {{#each filteredEvents as |event|}}
          <li>
            {{#link-to (concat parentName '.events.event') model.project.id model.projectVersion.version model.name event.name (query-params anchor=event.name)}}
              {{event.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      No documented events.
    {{/if}}
  </section>

  {{outlet}}

</article>
