<article class="chapter">
  <h1>{{model.name}} {{#if model.access}}<span class="access">{{model.access}}</span>{{/if}}</h1>

  <p>{{{model.description}}}</p>

  <section>
    Show:
    <label class="access-checkbox">
      {{input type="checkbox" checked=showInherited}}
      Inherited
    </label>
    <label class="access-checkbox">
      {{input type="checkbox" checked=showProtected}}
      Protected
    </label>
    <label class="access-checkbox">
      {{input type="checkbox" checked=showPrivate}}
      Private
    </label>
    <label class="access-checkbox">
      {{input type="checkbox" checked=showDeprecated}}
      Deprecated
    </label>
  </section>


  <section>
    <h2>Methods</h2>

    {{#if model.methods}}
      <ul class="spec-method-list">
        {{#each filteredMethods as |method|}}
          <li>
            {{#link-to (concat parentName '.methods.method') model.project.id model.projectVersion.version model.name method.name (query-params anchor=method.name)}}
              {{method.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      No documented methods.
    {{/if}}
  </section>

  <section>
    <h2>Properties</h2>
    {{#if model.properties}}
      <ul class="spec-property-list">
        {{#each filteredProperties as |property|}}
          <li>
            {{#link-to (concat parentName '.properties.property') model.project.id model.projectVersion.version model.name property.name (query-params anchor=property.name)}}
              {{property.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      No documented properties.
    {{/if}}
  </section>

  <section>
    <h2>Events</h2>
    {{#if model.events}}
      <ul class="spec-event-list">
        {{#each filteredEvents as |event|}}
          <li>
            {{#link-to (concat parentName '.events.event') model.project.id model.projectVersion.version model.name event.name (query-params anchor=event.name)}}
              {{event.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      No documented events.
    {{/if}}
  </section>

  {{outlet}}

</article>
