<article class="chapter">
  <h1>{{model.name}} {{#if model.access}}<span class="access">{{model.access}}</span>{{/if}}</h1>

  <p class="attributes">
    {{#if model.extends}}
      <div class="attribute">
        <span class="attribute-label">Extends:</span>
        <span class="attribute-value">{{#link-to 'project-version.class' model.projectVersion.version model.extends}}{{model.extends}}{{/link-to}}</span>
      </div>
    {{/if}}
    {{#if model.uses}}
      <div class="attribute">
        <span class="attribute-label">Uses:</span>
        <span class="attribute-value">
          {{#each model.uses as |parentClass idx|}}
            {{#unless (eq idx 0)}}<span class="comma">,</span>{{/unless}}
            {{#link-to 'project-version.class' model.projectVersion.version parentClass}}{{parentClass}}{{/link-to}}
          {{/each}}
        </span>
      </div>
    {{/if}}
    {{#if model.file}}
      <div class="attribute">
        <span class="attribute-label">Defined in:</span>
        <span class="attribute-value">
          <a href={{githubLinkTarget}}>{{model.file}}:{{model.line}}</a>
        </span>
      </div>
    {{/if}}
    {{#if model.module}}
      <div class="attribute">
        <span class="attribute-label">Module:</span>
        <span class="attribute-value">{{#link-to 'project-version.module' model.projectVersion.version model.module}}{{model.module}}{{/link-to}}</span>
      </div>
    {{/if}}
  </p>

  <p>{{{model.description}}}</p>

  {{#if (or model.methods model.properties model.events)}}
    {{#tabbed-layout selectedTab=currentTab onSelection=(action "navigateTab") as |select selectedTab|}}
      <ul class="tabbed-layout__menu">
        <li class="tabbed-layout__menu__item {{if (eq selectedTab "index") "tabbed-layout__menu__item_selected"}}" {{action select "index"}}>
          <span>Index</span>
        </li>
        {{#if model.methods}}
          <li class="tabbed-layout__menu__item {{if (eq selectedTab "methods") "tabbed-layout__menu__item_selected"}}" {{action select "methods"}}>
            <span>Methods</span>
          </li>
        {{/if}}
        {{#if model.properties}}
          <li class="tabbed-layout__menu__item {{if (eq selectedTab "properties") "tabbed-layout__menu__item_selected"}}" {{action select "properties"}}>
            <span>Properties</span>
          </li>
        {{/if}}
        {{#if model.events}}
          <li class="tabbed-layout__menu__item {{if (eq selectedTab "events") "tabbed-layout__menu__item_selected"}}" {{action select "events"}}>
            <span>Events</span>
          </li>
        {{/if}}
      </ul>

      {{#api-index-filter itemData=model filterData=filterData as |filteredModel|}}
        <section>
          Show:
          <label class="access-checkbox">
            <input id="inherited-toggle"
                   type="checkbox"
                   checked={{filterData.showInherited}}
                   onchange={{action "updateFilter" "showInherited"}}>
            Inherited
          </label>
          <label class="access-checkbox">
            <input id="protected-toggle"
                   type="checkbox"
                   checked={{filterData.showProtected}}
                   onchange={{action "updateFilter" "showProtected"}}>
            Protected
          </label>
          <label class="access-checkbox">
            <input id="private-toggle"
                   type="checkbox"
                   checked={{filterData.showPrivate}}
                   onchange={{action "updateFilter" "showPrivate"}}>
            Private
          </label>
          <label class="access-checkbox">
            <input id="deprecated-toggle"
                   type="checkbox"
                   checked={{filterData.showDeprecated}}
                   onchange={{action "updateFilter" "showDeprecated"}}>
            Deprecated
          </label>
        </section>
        <hr>
        {{#tab-item name="index" selectedTab=selectedTab}}
          {{#api-index itemData=filteredModel as |sectionData|}}
            {{#each sectionData.sections as |section|}}
              <h3 class="api-index-section-title">{{section.title}}</h3>
              {{#if section.items}}
                <ul class="{{section.class}}">
                  {{#each section.items as |item|}}
                    <li {{action select section.tab}}>
                      {{#link-to (concat parentName section.routeSuffix)
                         model.project.id
                         model.projectVersion.version
                         model.name
                         item.name
                         (query-params anchor=item.name)}}
                        {{item.name}}
                      {{/link-to}}
                    </li>
                  {{/each}}
                </ul>
            {{else}}
                No documented items
              {{/if}}
            {{/each}}
          {{/api-index}}

        {{/tab-item}}
        {{#tab-item name="methods" selectedTab=selectedTab}}
          {{outlet}}
        {{/tab-item}}
        {{#tab-item name="properties" selectedTab=selectedTab}}
          {{outlet}}
        {{/tab-item}}
        {{#tab-item name="events" selectedTab=selectedTab}}
          {{outlet}}
        {{/tab-item}}
      {{/api-index-filter}}
    {{/tabbed-layout}}
  {{/if}}

</article>
