<article class="chapter">
  {{#if (is-latest version=model.projectVersion.version allVersions=allVersions)}}
    <a data-tooltip="Edit on Github" class="heading__link__edit" href="{{github-link model.project.id model.projectVersion.version model.file model.line isEdit=true}}" target="_blank" rel="noopener noreferrer">{{svg-jar "fa-pencil"}}</a>
  {{/if}}
  <h1 class="module-name">Class {{model.name}}</h1>
  {{#if model.access}}<span class="access">{{model.access}}</span>{{/if}}

  <div class="attributes">
    {{#if model.extends}}
      <div class="attribute">
        <span class="attribute-label">Extends:</span>
        <span class="attribute-value">{{#link-to data-test-extends-link 'project-version.classes.class' model.extendedClassProjectName model.projectVersion.compactVersion model.extendedClassShortName}}{{model.extends}}{{/link-to}}</span>
      </div>
    {{/if}}
    {{#if model.uses}}
      <div class="attribute">
        <span class="attribute-label">Uses:</span>
        <span class="attribute-value">
          {{#each model.usesObjects as |parentClass idx|}}
            {{#if (not-eq idx 0)}}<span class="comma">,</span>{{/if}}
            {{#link-to data-test-uses-link 'project-version.classes.class' parentClass.projectId model.projectVersion.compactVersion parentClass.shortName}}{{parentClass.name}}{{/link-to}}
          {{/each}}
        </span>
      </div>
    {{/if}}
    {{#if model.file}}
      <div class="attribute">
        <span class="attribute-label">Defined in:</span>
        <span class="attribute-value">
          <a href="{{github-link model.project.id model.projectVersion.version model.file model.line}}" target="_blank" rel="noopener noreferrer">{{model.file}}:{{model.line}}</a>
        </span>
      </div>
    {{/if}}
    {{#if model.module}}
      <div class="attribute">
        <span class="attribute-label">Module:</span>
        <span class="attribute-value">{{#link-to 'project-version.modules.module' model.projectVersion.compactVersion model.module}}{{model.module}}{{/link-to}}</span>
      </div>
    {{/if}}
    {{#if model.since}}
      <div class="attribute">
        <span class="attribute-label">Since:</span>
        <span class="attribute-value">v{{model.since}}</span>
      </div>
    {{/if}}
  </div>
  {{#if (and (not (eq static 1)) hasImportExample)}}
    {{import-example item=model.name package=module}}
  {{/if}}
  <p class="description">{{html-safe model.description}}</p>

  {{#if (or model.methods model.properties model.events)}}
    <div class="tabbed-layout">
      <nav class="tabbed-layout__menu">
        {{#link-to (concat parentName ".index")
           model.project.id
           model.projectVersion.compactVersion
           model.name
           (query-params anchor=undefined)
           class="tabbed-layout__menu__item"
           activeClass="tabbed-layout__menu__item_selected"
           current-when=(concat parentName ".index")
           data-test-tab="index"
        }}
          <span>Index</span>
        {{/link-to}}
        {{#if model.methods}}
          {{#link-to (concat parentName ".methods")
             model.project.id
             model.projectVersion.compactVersion
             model.name
             (query-params anchor=undefined)
             class="tabbed-layout__menu__item"
             activeClass="tabbed-layout__menu__item_selected"
             id="methods"
             current-when=(concat parentName ".methods")
             data-test-tab="methods"
          }}
            <span>Methods</span>
          {{/link-to}}
        {{/if}}
        {{#if model.properties}}
          {{#link-to (concat parentName ".properties")
             model.project.id
             model.projectVersion.compactVersion
             model.name
             (query-params anchor=undefined)
             class="tabbed-layout__menu__item"
             activeClass="tabbed-layout__menu__item_selected"
             current-when=(concat parentName ".properties")
             data-test-tab="properties"
          }}
            <span>Properties</span>
          {{/link-to}}
        {{/if}}
        {{#if model.events}}
          {{#link-to (concat parentName ".events")
             model.project.id
             model.projectVersion.compactVersion
             model.name
             (query-params anchor=undefined)
             class="tabbed-layout__menu__item"
             activeClass="tabbed-layout__menu__item_selected"
             current-when=(concat parentName ".events")
             data-test-tab="events"
          }}
            <span>Events</span>
          {{/link-to}}
        {{/if}}
      </nav>
      <section>
        Show:
        <label class="access-checkbox">
          <input id="inherited-toggle"
                 data-test-checkbox="inherited"
                 type="checkbox"
                 checked={{filterData.showInherited}}
                 onchange={{action "updateFilter" "showInherited"}}>
          Inherited
        </label>
        <label class="access-checkbox">
          <input id="protected-toggle"
                 data-test-checkbox="protected"
                 type="checkbox"
                 checked={{filterData.showProtected}}
                 onchange={{action "updateFilter" "showProtected"}}>
          Protected
        </label>
        <label class="access-checkbox">
          <input id="private-toggle"
                 data-test-checkbox="private"
                 type="checkbox"
                 checked={{filterData.showPrivate}}
                 onchange={{action "updateFilter" "showPrivate"}}>
          Private
        </label>
        <label class="access-checkbox">
          <input id="deprecated-toggle"
                 data-test-checkbox="deprecated"
                 type="checkbox"
                 checked={{filterData.showDeprecated}}
                 onchange={{action "updateFilter" "showDeprecated"}}>
          Deprecated
        </label>
      </section>
      <hr>
      {{outlet}}
    </div>
  {{/if}}

</article>
