{{#api-index-filter model=model filterData=filterData as |filteredModel|}}
  {{#api-index itemData=filteredModel classNames="api__index__content" as |sectionData|}}
    {{#each sectionData.sections as |section|}}
      <h3 class="api-index-section-title">{{section.title}}</h3>
      {{#if section.items}}
        <ul class="{{section.class}}">
          {{#each section.items as |item|}}
            <li data-test-item={{item.name}}>
              {{#link-to (concat parentName section.routeSuffix)
                 model.project.id
                 model.projectVersion.compactVersion
                 model.name
                 item.name
                 (query-params anchor=item.name)}}
                {{item.name}}
              {{/link-to}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>No documented items</p>
      {{/if}}
    {{/each}}
  {{/api-index}}
{{/api-index-filter}}
