<ApiIndexFilter @model={{this.model}} @filterData={{this.filterData}} as |filteredModel|>
  <ApiIndex @itemData={{filteredModel}} @classNames="api__index__content" as |sectionData|>
    {{#each sectionData.sections as |section|}}
      {{#if section.items}}
      <h3 class="api-index-section-title">{{section.title}}</h3>
        <ul class="{{section.class}}">
          {{#each section.items as |item|}}
            <li data-test-item={{item.name}}>
              <a
                href="#{{item.name}}"
              >
                {{item.name}}
              </a>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    {{/each}}
  </ApiIndex>
</ApiIndexFilter>
