<title>{{this.model.title}}</title>

<link rel="dns-prefetch" href="{{this.model.cdnDomain}}">
<meta property="og:title" content={{this.model.title}}>

{{#if this.model.description}}
  <meta name="description" content={{this.model.description}}>
  <meta property="og:description" content={{this.model.description}}>
{{/if}}
{{#unless this.model.isRelease}}
  <link rel="canonical" href={{this.model.canonicalUrl}}>
{{/unless}}