<div class="sidebar-container sidebar-container--full-width">
  <EsSidebar>
   <TableOfProjects @activeProject={{this.activeProject}} />

    <div class="select-container">
      <PowerSelect
        @onChange={{fn this.updateProject this.activeProject}}
        @options={{this.projectVersions}}
        @selected={{this.selectedProjectVersion}}
        @ariaLabel="Select a version"
        @required={{true}}
        @searchField="compactVersion"
        @searchEnabled={{true}}
        as |ver|
      >
        {{ver.compactVersion}}
      </PowerSelect>
    </div>

    <TableOfContents
      @version={{this.urlVersion}}
      @classesIDs={{this.shownClassesIDs}}
      @moduleIDs={{this.shownModuleIDs}}
      @namespaceIDs={{this.shownNamespaceIDs}}
      @showPrivateClasses={{this.showPrivateClasses}}
      @togglePrivateClasses={{this.togglePrivateClasses}}
      @isShowingNamespaces={{version-lt this.selectedProjectVersion.compactVersion "2.16"}}
    />
  </EsSidebar>
  <section class="content">
    {{outlet}}
  </section>
</div>
